<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
    <head>
        <title th:text="#{email.forgot.title}">eSale confirm new password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <br/>
        <p th:text="#{email.forgot.body.line1(${dto.username})}"></p>
        <p>
            <span th:text="#{email.forgot.body.line2}"></span><br/>
            <span th:text="#{email.forgot.body.line3}"></span><br/>
            <span th:text="#{email.forgot.body.line4}"></span><br/>
        </p>
        <p>
            <span th:text="#{email.forgot.body.line5}"></span><br/>
            <span>────────────────────────────────────</span><br/>
            <a th:href="${dto.url}"><span th:text="${dto.url}"></span></a><br/>
            <span th:text="#{email.forgot.body.line6}"></span><br/>
            <span th:text="#{email.forgot.body.line7}"></span><br/>
            <span>────────────────────────────────────</span>
        </p>
        <p>
            <span th:text="#{email.forgot.body.line8}"></span>
        </p>
    </body>
</html>