.mb-1rem{
    margin-bottom:1rem !important;
}

.w-1200{
    width: 1200px !important;
    max-width: 1200px !important;
}

.modal-guide{
    color:gray !important;
    opacity: 0.2 !important;
}

.modal-guide:hover{
    opacity: 0.6 !important;
}
