/* mlはwebfontの設定とコンフリクトするので、別途style定義を作成 */
.margin-left_0 {
  margin-left: 0px !important
}
.margin-left_5 {
  margin-left: 5px !important
}
.margin-left_10 {
  margin-left: 10px !important
}

.margin-left_20 {
  margin-left: 20px !important
}
